body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-color: #1f2937;
    min-height: 65vh;
}

/* Header - NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 70%;
    margin: auto;
    padding-top: 16px;
}

.logo {
    color: #faf9fb;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #faf9fb;
}

.left,
.right {
    display: flex;
    align-items: center;
}

/* Header - Content */

.header-content {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header-content-col {
    flex: 1;
    overflow: hidden;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #faf9fb;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 8px;
}

button {
    background-color: #3883f6;
    color: #e5e7eb;
    font-weight: 700;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 8px;
}

#gray-box {
    background-color: gray;
    color: #e5e7eb;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}